a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

body {
  background-color: beige;
  color: black
  font-family: Arial;
  text-align: center;

}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  color: #07
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

h2 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}
